/* src/components/CreateAccount.css */

.create-account-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f9f9f9; /* or any color that matches your brand */
  }
  
form {
    background: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 350px;
    margin: 20px;
  }
  
  .logo {
    width: auto; /* Adjust as needed */
    margin: 30px;
  }
  
  input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .create-account-button {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .create-account-button:hover {
    background-color: #45a049;
  }
  
  .login-link {
    margin-top: 20px;
  }
  